unit link terbaik di Indonesia Commonwealth Life investra link

Investra Link merupakan program yang memadukan Asuransi Jiwa dan Investasi secara fleksibel. Investra Link menawarkan perlindungan asuransi jiwa dengan beragam pilihan perlindungan bagi ketenangan hidup Anda dan keluarga. 

Melalui Investra Link, Anda dapat merencanakan berbagai tujuan masa depan seperti pendidikan anak, persiapan masa pensiun, serta pertumbuhan investasi Anda.

Keunggulan Investra Link

Investra Link memberikan manfaat perlindungan jiwa seumur hidup, beragam pilihan perlindungan asuransi tambahan dan penyakit kritis. unit link terbaik di Indonesia Commonwealth Life investra link Memberikan perlindungan terhadap Penyakit yang Tidak Tersembuhkan, berupa manfaat sebesar 50% dari Uang Pertanggungan, bila Anda didiagnosa menderita Penyakit yang Tidak Tersembuhkan dan tidak dapat bertahan hidup lebih dari 12 bulan yang dinyatakan dengan bukti medis. Sisa dari Uang Pertanggungan akan diberikan kemudian bila meninggal dunia.
Potensi hasil investasi yang optimal melalui 12 pilihan jenis dana investasi (termasuk 2 jenis dana investasi Syariah) sesuai dengan tujuan investasi dan profil risiko Anda.
Fasilitas Inflation Link untuk menjaga nilai ekonomis Uang Pertanggungan dari pengaruh inflasi (khusus Premi Berkala)

Untuk mengetahui lebih lanjut tentang bagaimana Investra Link dapat memberikan manfaat Asuransi Jiwa dan Investasi yang terpadu, Anda dapat menghubungi CommCenter 500 525, Kantor Pemasaran PT. Commonwealth Life terdekat atau Agency Sales Force Commonwealth Life yang tersertifikasi dan terlatih secara profesional dalam memberikan perencanaan perlindungan dan investasi sesuai dengan kebutuhan Anda. unit link terbaik di Indonesia Commonwealth Life investra link

source : http://www.bjgp-rizal.com/2014/02/unitlink-terbaik-indonesia-commonwealth-life-investralink.html
